asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.1.14
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
dj-database-url==2.2.0
Django==5.0.2
django-cors-headers==4.4.0
django-filter==24.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
filelock==3.14.0
fonttools==4.53.1
frozendict==2.4.4
gunicorn==23.0.0
html5lib==1.1
idna==3.6
instaloader==4.10.3
keyboard==0.13.5
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.1
multitasking==0.0.11
mysqlclient==2.2.4
numpy==2.0.1
packaging==24.1
pandas==2.2.2
peewee==3.17.6
Pillow==10.1.0
platformdirs==4.2.2
PyAudio==0.2.13
pygame==2.5.2
PyJWT==2.8.0
pyparsing==3.1.2
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.90
pytube==15.0.0
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.4
SpeechRecognition==3.10.0
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.18
vboxapi==1.0
virtualenv==20.26.2
virtualenvwrapper-win==1.2.7
webencodings==0.5.1
whitenoise==6.7.0
wikipedia==1.4.0
yfinance==0.2.41
mysqlclient==2.1.0
Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
sqlite3  # or just omit the database package, as SQLite is built-in
